DEPLOYER_PRIVATE_KEY=0xYOUR_TESTNET_PRIVATE_KEY
SEPOLIA_RPC_URL=https://sepolia-proxy-rpc.creditcoin.network
CREDITCOIN_RPC_URL=https://rpc.usc-testnet.creditcoin.network
ABRAXAS_ISSUER_ADDRESS=0xYOUR_ISSUER_ADDRESS
SOURCE_CHAIN_KEY=0
SOURCE_REGISTRY_ADDRESS=0xDEPLOYED_SOURCE_REGISTRY
ELIGIBILITY_USC_ADDRESS=0xDEPLOYED_CREDITCOIN_USC
CREDITCOIN_PROOF_BUILDER_URL=https://YOUR_OFFICIAL_PROOF_BUILDER_ENDPOINT
SOURCE_TX_HASH=0xELIGIBILITY_PUBLICATION_TRANSACTION
